############################################
# Python
############################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
*.coverage
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
.venv/

############################################
# FastAPI / local runtime
############################################
*.log

############################################
# Docker
############################################
*.tar
.dockerignore

############################################
# Terraform
############################################
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

terraform.tfvars
terraform.tfvars.json

############################################
# IDE / OS
############################################
.vscode/
.idea/
.DS_Store

############################################
# Environment variables (VERY IMPORTANT)
############################################
.env
.env.*
!.env.example

############################################
# AWS / CI artifacts
############################################
.aws/